absl-py==0.11.0
appdirs==1.4.3
argon2-cffi==20.1.0
astroid==2.4.2
astunparse==1.6.3
async-generator==1.10
attrs==19.1.0
backcall==0.2.0
backoff==1.10.0
backports-datetime-fromisoformat==1.0.0
bleach==3.2.1
blis==0.4.1
boto3==1.16.23
botocore==1.19.23
boxing==0.1.4
cachetools==4.1.1
certifi==2019.11.28
cffi==1.14.3
chardet==3.0.4
click==7.0
colorama==0.4.4
configparser==5.0.1
cycler==0.10.0
cymem==2.0.3
cython==0.29.21
dataclasses==0.6
decorator==4.4.2
defusedxml==0.6.0
docker-pycreds==0.4.0
entrypoints==0.3
et-xmlfile==1.0.1
flask-api==2.0
flask-wtf==0.14.3
flask==1.1.1
future==0.18.2
fvcore==0.1.2.post20201122
gast==0.3.3
gevent==20.9.0
gitdb==4.0.5
gitpython==3.1.11
google-api-core==1.23.0
google-auth-oauthlib==0.4.2
google-auth==1.23.0
google-cloud-core==1.4.3
google-cloud-storage==1.28.1
google-pasta==0.2.0
google-resumable-media==0.5.1
googleapis-common-protos==1.52.0
greenlet==0.4.17
grpcio==1.33.2
h5py==2.10.0
htmlmin==0.1.12
idna==2.8
imageio==2.5.0
imgaug==0.2.9
imgviz==1.2.3
ipykernel==5.3.4
ipython-genutils==0.2.0
ipython==7.19.0
ipywidgets==7.5.1
isort==5.6.4
itsdangerous==1.1.0
jdcal==1.4.1
jedi==0.17.2
jinja2==2.10.3
jmespath==0.10.0
jsonschema==3.2.0
jupyter-client==6.1.7
jupyter-console==6.2.0
jupyter-core==4.7.0
jupyter==1.0.0
jupyterlab-pygments==0.1.2
keras-applications==1.0.8
keras-preprocessing==1.1.2
keras-segmentation==0.3.0
keras==2.3.1
kiwisolver==1.3.1
label-studio-converter==0.0.20
label-studio==0.8.1
labelbox==2.4.9
labelimg==1.8.4
labelme==4.5.6
lazy-object-proxy==1.4.3
lxml==4.6.1
markdown==3.3.3
markupsafe==1.1.1
matplotlib==3.3.3
mccabe==0.6.1
mistune==0.8.4
mixpanel==4.4.0
nbclient==0.5.1
nbconvert==6.0.7
nbformat==5.0.8
ndjson==0.3.1
nest-asyncio==1.4.3
networkx==2.5
notebook==6.1.5
numpy==1.19.4
oauthlib==3.1.0
opencv-python==4.4.0.46
openpyxl==3.0.5
opt-einsum==3.3.0
ordered-set==4.0.2
orjson==3.4.3
packaging==20.5
pandas==1.1.4
pandocfilters==1.4.3
parso==0.7.1
pathtools==0.1.2
pickleshare==0.7.5
pillow==6.2.1
pip==20.2.4
portalocker==2.0.0
prometheus-client==0.9.0
promise==2.3
prompt-toolkit==3.0.8
protobuf==3.14.0
psutil==5.7.3
pyasn1-modules==0.2.8
pyasn1==0.4.8
pycocotools==2.0.2
pycparser==2.20
pygments==2.7.2
pylint==2.6.0
pyparsing==2.4.7
pyqt5-sip==12.8.1
pyqt5==5.15.1
pyrsistent==0.17.3
python-dateutil==2.8.1
pytz==2019.3
pywavelets==1.1.1
pywin32==300
pywinpty==0.5.7
pyyaml==5.3.1
pyzmq==20.0.0
qtconsole==5.0.1
qtpy==1.9.0
rarfile==3.1
redis==3.5.3
requests-oauthlib==1.3.0
requests==2.22.0
rq==1.6.1
rsa==4.6
s3transfer==0.3.3
scikit-image==0.17.2
scipy==1.5.4
send2trash==1.5.0
sentry-sdk==0.19.4
setuptools==47.1.0
shapely==1.7.1
shortuuid==1.0.1
six==1.15.0
smmap==3.0.4
srsly==2.3.2
subprocess32==3.5.4
tabulate==0.8.7
tensorboard-plugin-wit==1.7.0
tensorboard==2.4.0
tensorboardx==2.1
tensorflow-gpu-estimator==2.3.0
tensorflow-gpu==2.3.1
termcolor==1.1.0
terminado==0.9.1
testpath==0.4.4
tifffile==2020.11.26
toml==0.10.2
torch==1.6.0+cu101
torchvision==0.7.0+cu101
tornado==6.1
tqdm==4.40.2
traitlets==5.0.5
typing-extensions==3.7.4.3
ujson==3.0.0
urllib3==1.25.7
wandb==0.10.11
wasabi==0.4.2
watchdog==0.10.4
wcwidth==0.2.5
webencodings==0.5.1
werkzeug==0.16.0
wheel==0.35.1
widgetsnbextension==3.5.1
wrapt==1.12.1
wtforms==2.3.3
xlrd==1.2.0
xmljson==0.2.0
yacs==0.1.8
zope.event==4.5.0
zope.interface==5.2.0